.card {
  margin: 0 auto;
  cursor: pointer;
}

@media screen and (min-width: 75rem) {
  .card {
    margin: initial;
  }
}

.pill {
  border-radius: 1rem;
  padding: 0.4em 1em;
}

.card-specialist {
  width: 18rem;
}

@media screen and (min-width: 87.5rem) {
  .card-specialist {
    width: 22rem;
  }
}
