.card {
  margin: 0 auto;
}

@media screen and (min-width: 75rem) {
  .card {
    margin: initial;
  }
}

.service-card {
  cursor: pointer;
}

.service-card:hover {
  background-color: #fcede4;
}

.showcase-card {
  filter: blur(0);
  -webkit-filter: blur(0);
  transition: all 0.2s ease-out;
}
.showcase-card:hover {
  transform: scale(1.02);
  transition: all 0.2s ease-out;
}

.pill {
  border-radius: 1rem;
  padding: 0.4em 1em;
}

.card-specialist {
  width: 18rem;
}

@media screen and (min-width: 87.5rem) {
  .card-specialist {
    width: 22rem;
  }
}
