.baseTab {
  border-left: 1px solid #6ac5f6 !important;
  cursor: pointer;
}
.baseTab:hover {
  background-color: black !important;
  color: white !important;
}
.th {
  border: 1px solid #000;
}
.td {
  border: 1px solid #000;
}
