.footer-paragraph {
  font-size: 0.9rem;
}

.social-media-icon:hover .fa-brands {
  color: hsl(216, 98%, 62%);
  transition: 0.3s;
}

.active-link {
  color: #0d6efd !important;
}

.footer-copy-paragraph {
  font-size: 0.8rem;
}
